


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blogger</title>
</head>
<body>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- 
      - primary meta tags
    -->
    <title>Blogger App</title>
    <meta name="title" content="Wren - Personal Blog Website">
    <meta name="description" content="This is a blog html template made by anton">
  
    <!-- 
      - favicon
    -->
    <link rel="shortcut icon" href="/main-logo.png" type="image/svg+xml">
  
    <!-- 
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">
  
    <!-- 
      - custom css link
    -->
    <link rel="stylesheet" href="/style.css">
  
    <!-- 
      - preload images
    -->
    <link rel="preload" as="image" href="/main-logo.png">
    <link rel="preload" as="image" href="/pattern-2.svg">
    <link rel="preload" as="image" href="/pattern-3.svg">
  
  </head>
 
  <body id="top">
    <header class="header" data-header>
      <div class="container">
    
        <a href="/" class="logo">
          <img src="/main-logo.png" width="119" height="37" alt="Wren logo">
        </a>
    
        <nav class="navbar" data-navbar>
    
          <div class="navbar-top">
            <a href="/" class="logo">
              <img src="/main-logo.png" width="119" height="37" alt="Wren logo">
            </a>
    
            <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>
    
          <ul class="navbar-list">
    
    
            <li>
              <a href="#home" class="navbar-link hover-1" data-nav-toggler>Home</a>
            </li>
    
            <li>
              <a href="#topics" class="navbar-link hover-1" data-nav-toggler>Topics</a>
            </li>
    
            <li>
              <a href="#recent" class="navbar-link hover-1" data-nav-toggler>Recent Post</a>
            </li>
    
            <li>
              <a href="#" class="navbar-link hover-1" data-nav-toggler>Contact</a>
            </li>
    
          </ul>
    
          <div class="navbar-bottom">
    
            <div class="profile-card">
              <img src="/author-1.png" width="48" height="48" alt="Steven" class="profile-banner">
    
              <div>
                <p class="card-title">Hello Steven !</p>
    
                <p class="card-subtitle">
                  You have 3 new messages
                </p>
              </div>
            </div>
    
            <ul class="link-list">
    
              <li>
                <a href="/Create" class="navbar-bottom-link hover-1">Create +</a>
              </li>
    
              <li>
                <a href="#" class="navbar-bottom-link hover-1">Profile</a>
              </li>
    
              <li>
                <a href="#" class="navbar-bottom-link hover-1">My Likes</a>
              </li>
    
              <li>
                <a href="#" class="navbar-bottom-link hover-1">Account Setting</a>
              </li>
    
              <li>
                <a href="#" class="navbar-bottom-link hover-1">Sign Out</a>
              </li>
    
            </ul>
    
          </div>
    
          <p class="copyright-text">
            Copyright 2023 © Personal Blog App.
            Developed by Anton
          </p>
    
        </nav>
    
        <!-- <a href="/Create" class="btn btn-primary">Create +
        </a>
     -->
        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
    
      </div>
    </header>
  </body>
</body>
</html>



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogger</title>
</head>
<body>
   <section class="CreatePost EditPost">
      <div class="container-createPost footer card container">
        <form action="/edited/<%= id %>" method="POST" enctype="multipart/form-data">
   
           <div class="form-container">
             <div class="Post-Title">
               <h2>Article Title</h2>
               <input type="text" name="Title" placeholder="Type here" required="" class="input-field" autocomplete="off"  value="<%= post.Title %>">
             </div>

               <div class="Post-Content">
                 <h2>Post content</h2>
                 <textarea name="content" id="" cols="33" rows="10" class="input-field post-content" required ="" autocapitalize="off">
                  <%= post.content %>
                 </textarea>
                   <div class="Edit-Img">
                  <img id="imagePreview" src="<%= post.Img %>" alt="Image Preview" width="200px" height="200px">
                  <input type="file" id="selectedFile" name="Img" class=".add-photo-btn " onchange="displayImage()"/>
                  </div>

               </div>
               <div class="post-card">
                 <div class="Auther">
                   <h3>Author</h3>
                 <input type="text" name="Author" placeholder="Type name" required="" class="input-field" autocomplete="off" value="<%= post.Author %>">
                 </div>

                 <div class="post-tag post-card">
                  <div>
                  <h3>Tag</h3>
                   <input type="text" name="tag" placeholder="#Tags here" required="" class="input-field" autocomplete="off" value="<%= post.tag %>">
                   </div>
                   <div>
                   <h3>Badge</h3>
                   <input type="text" name="Badge" placeholder="#Tags here" required="" class="input-field" autocomplete="off" value="<%= post.Badge %>">
                   </div>
                 </div>
               </div>
           </div>
              <div class="form-btn-container">
           <button type="submit" class="btn btn-primary btn-form" value="submit">
               <span class="span">Update</span>
               <ion-icon name="arrow-forward" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
            </button>
            </div>

         </form>

         <script>
  function displayImage() {
    const selectedFile = document.getElementById('selectedFile').files[0];

    if (selectedFile) {
      const reader = new FileReader();

      reader.onload = function (e) {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = e.target.result;
      };

      reader.readAsDataURL(selectedFile);
    }
  }
</script>


      </div>
    </section>

</body>
</html>

<%- include("./Footer.ejs") %>